{{- $member := .member -}}
{{- $compact := .compact -}}
{{- $profile_page := site.GetPage (printf "/authors/%s" ($member.profile | urlize)) -}}
{{- with $profile_page -}}
  {{- $display_name := .Title | default $member.name -}}
  {{- $avatar := (.Resources.ByType "image").GetMatch "*avatar*" -}}
  <a
    class="transportx-member-chip{{ if $compact }} transportx-member-chip-compact{{ end }}"
    href="{{ .RelPermalink }}"
    aria-label="{{ i18n "member_profile_aria" (dict "Name" $display_name) }}"
  >
    {{- with $avatar -}}
      {{- $avatar_image := .Fill "64x64 Center" -}}
      <img
        class="transportx-member-avatar"
        src="{{ $avatar_image.RelPermalink }}"
        width="{{ $avatar_image.Width }}"
        height="{{ $avatar_image.Height }}"
        alt=""
        loading="lazy"
      >
    {{- end -}}
    <span>@{{ $display_name }}</span>
  </a>
{{- else -}}
  <span class="transportx-member-chip{{ if $compact }} transportx-member-chip-compact{{ end }}">
    @{{ $member.name }}
  </span>
{{- end -}}
